<template>
  <div class="header--container">
    <div :class="['header', size]">
      <div v-if="hasMobileNavSlot" class="left-action-button hidden-after-lg" @click="openNav">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21 18H3V16H21V18ZM21 13H3V11H21V13ZM21 8H3V6H21V8Z"
            fill="black"
            fill-opacity="0.3"
          />
        </svg>
      </div>
      <div v-if="hasLeftActionButtonSlot" class="left-action-button">
        <slot name="left-action-button"></slot>
      </div>
      <div v-if="hasLogoSlot" :class="['logo', { center: center }]">
        <slot name="logo"></slot>
      </div>
      <div v-if="hasRightActionButtonSlot" class="right-action-button hidden-after-lg">
        <slot name="right-action-button"></slot>
      </div>
      <div class="desktop-navigation">
        <div v-if="hasDesktopNavSlot" :class="['nav', { 'no-margin-right': !hasActionsSlot }]">
          <slot name="desktop-nav"></slot>
        </div>
        <div v-if="hasActionsSlot" class="actions">
          <slot name="actions"></slot>
        </div>
      </div>
    </div>
    <div v-if="hasMobileNavSlot" :class="['mobile-navigation', { opened: opened }]">
      <div class="mask" @click="closeNav"></div>
      <div class="menu">
        <button type="button" class="close--button" @click="closeNav">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41L17.59 5Z"
              fill="black"
              fill-opacity="0.3"
            />
          </svg>
        </button>
        <div v-if="hasMobileProfileBlockSlot" class="menu--wrapper">
          <slot name="mobile-profile-block"></slot>
        </div>
        <div v-if="hasMobileNavSlot" class="menu--wrapper">
          <slot name="mobile-nav"></slot>
          <hr class="sp24" />
        </div>
        <div v-if="hasMobileSupportNavSlot" class="menu--wrapper mobile-support-nav">
          <slot name="mobile-support-nav"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export const SIZE = {
  l: 'l',
  m: 'm',
  s: 's',
}

export default {
  name: 'MonioHeader',

  props: {
    /**
     * Define header height
     */
    size: {
      type: String,
      default: SIZE.l,
      validator: (value) => SIZE[value] !== undefined,
    },

    /**
     * Center logo
     */
    center: {
      type: Boolean,
      default: false,
    },

    /**
     * Open or close navigation
     */
    opened: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    hasSlot() {
      return !!this.$slots.default
    },

    hasMobileNavSlot() {
      return !!this.$slots['mobile-nav']
    },

    hasDesktopNavSlot() {
      return !!this.$slots['desktop-nav']
    },

    hasMobileProfileBlockSlot() {
      return !!this.$slots['mobile-profile-block']
    },

    hasMobileSupportNavSlot() {
      return !!this.$slots['mobile-support-nav']
    },

    hasLogoSlot() {
      return !!this.$slots['logo']
    },

    hasLeftActionButtonSlot() {
      return !!this.$slots['left-action-button']
    },

    hasRightActionButtonSlot() {
      return !!this.$slots['right-action-button']
    },

    hasActionsSlot() {
      return !!this.$slots['actions']
    },
  },

  methods: {
    openNav() {
      this.$emit('update:opened', true)
    },

    closeNav() {
      this.$emit('update:opened', false)
    },
  },
}
</script>

<style lang="scss" scoped>
@use '../../scss' as *;

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;

  padding: 20px 0;
  position: relative;

  &.s {
    height: 56px;

    .logo {
      height: 20px;
    }
  }

  &.m {
    height: 60px;

    .logo {
      height: 20px;
    }
  }

  &.l {
    height: 56px;

    @include breakpoint(lg) {
      height: 80px;
    }

    .logo {
      height: 20px;

      @include breakpoint(lg) {
        height: 24px;
      }
    }
  }

  .left-action-button {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  .right-action-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    height: 24px;
    width: auto;

    @include breakpoint(max-lg) {
      /*height: 20px !important;*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    ::v-deep {
      img {
        height: 100%;
        width: auto;
      }
    }

    a {
      height: 100%;
      width: auto;
    }

    &.center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .actions {
    display: flex;
    align-items: center;

    > div {
      margin: 0 12px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.desktop-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;

  @include breakpoint(max-lg) {
    display: none;
  }

  .nav {
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;

    &.no-margin-right {
      margin: 0;
    }

    > * {
      margin: 0 12px 0 0;
      @include font-styling(14px, 16px, bold);
      color: #00a093;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.mobile-navigation {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none;

  &.opened {
    pointer-events: auto;

    @include breakpoint(max-lg) {
      z-index: 9;
    }

    .mask {
      pointer-events: auto;
      @include breakpoint(max-lg) {
        opacity: 1;
      }
    }

    .menu {
      @include breakpoint(max-lg) {
        left: 0;
        z-index: 12;
      }
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: opacity 450ms;
    pointer-events: none;
  }

  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
    z-index: 12;
    padding: 20px 0;
    transition: all 250ms;
    overflow: auto;
  }

  nav {
    .nav-title {
      padding: 0 24px;
      display: flex;
      align-items: center;
      @include font-styling(16px, 28px, normal);
      min-height: 44px;

      > svg,
      > img,
      > a {
        &:first-child {
          margin-right: 12px;
        }
        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }

    .label {
      margin-left: auto;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li a {
        padding: 0 24px 0 60px;
        @include font-styling(13px, 20px, normal);
        min-height: 36px;
        display: flex;
        align-items: center;
        color: #000000;
      }
    }

    ::v-deep {
      button,
      a {
        margin: 0 auto;
        display: flex;
      }
    }

    .divider {
      margin: 0 auto;
      width: calc(100% - 40px);
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

.mobile-support-nav {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

    li a {
      padding: 0 24px 0 24px;
      @include font-styling(13px, 20px, normal);
      min-height: 36px;
      display: flex;
      align-items: center;
      color: #000000;

      &:focus {
        background: #f2f2f2;
      }
    }
  }
}

.nav-container {
  padding: 0 24px;
  @include breakpoint(max-lg) {
    display: flex;
    align-items: flex-start;

    > div {
      margin: 0 12px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.close--button {
  padding: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  margin: 0;
  border: none;
  background: transparent;
  margin: 0 0 12px 24px;
}
</style>

