@import '../base/_mixins.scss';

$heightLimit: 99; // that would be the maximum

@mixin sp {
  @for $i from 1 through $heightLimit {

    .sp#{$i} {

      margin: 0;
      border: none;

      height: #{$i}px;

    }

  }
}

@mixin msp {
  @for $i from 1 through $heightLimit {

    .msp#{$i} {

      @include breakpoint(max-lg) {
        height: #{$i}px;
      }

    }

  }
}

// generate classes:
@include sp;
@include msp;

hr {
  border-top: 1px solid #E5E8F0;
  margin: 24px 0;
}
