.hidden-sm {
  display: none;
  @include breakpoint(max-sm) {
    display: block!important;
  }
}

.hidden-md {
  display: none;
  @include breakpoint(max-md) {
    display: block!important;
  }
}

.hidden-lg {
  display: none;
  @include breakpoint(max-lg) {
    display: block!important;
  }
}

.hidden-before {
  &-sm {
    @include breakpoint(max-sm) {
      display: none!important;
    }
  }
  &-md {
    @include breakpoint(max-md) {
      display: none!important;
    }
  }
  &-lg {
    @include breakpoint(max-lg) {
      display: none!important;
    }
  }
}

.hidden-after {
  &-sm {
    @include breakpoint(sm) {
      display: none!important;
    }
  }
  &-md {
    @include breakpoint(md) {
      display: none!important;
    }
  }
  &-lg {
    @include breakpoint(lg) {
      display: none!important;
    }
  }
}
