@mixin breakpoint($media) {
  @if $media == sm {
    @media only screen and (min-width: 544px) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == max-md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $media == max-lg {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $media == hd {
    /* (1600x900) HD+ Display */
    @media only screen and (min-width: 1600px) {
      /* insert styles here */
      @content;
    }
  }
}
