// All colors:

$palettes: (

        white: (
                base: #ffffff
        ),

        black: (
                base: #000000,
        ),

        gray: (
                x-light: #f5f5f5,
                light: #c2c2c2,
                base: #9e9e9e,
                dark: #333333
        ),

        red: (
                x-light: #feefef,
                light: #f48989,
                base: #da1414,
        ),

        green: (
                x-light: #edf9f0,
                light: #5aca75,
                base: #287d3c,
        ),

        yellow: (
                xx-light: #fffae8,
                x-light: #fff4ec,
                light: #ff8f39,
                base: #b95000,
        ),

        blue: (
                xx-light: #e2f4ff,
                x-light: #eef2fa,
                light: #89a7e0,
                base: #2e5aac,
        ),

);
