//@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

@mixin font-styling (
  $font-size: 14px,
  $line-height: 1.4,
  $weight: normal
) {
  font-size: $font-size;
  font-weight: $weight;
  line-height: $line-height;
}

// body {
//   font-family: 'Comfortaa', sans-serif;
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// a:not(.btn) {
//   color: #00A093;

//   &:hover {
//     color: #00A093;
//     text-decoration: none;
//   }

//   &.disabled {
//     pointer-events: none;
//     opacity: .3;
//   }
// }

// a.btn {
//   &:hover {
//     text-decoration: none;
//   }
// }

// p {
//   @include font-styling(14px, 24px, 400);
// }

// p.highlighted {
//   @include font-styling(14px, 24px, bold);
//   color: palette(gray, dark);
// }


// p.validation {
//   @include font-styling(14px, 24px, normal);
//   color: palette(red);
// }


// p.assistance {
//   @include font-styling(14px, 24px, normal);
//   color: palette(gray);
// }

// h1, h2, h3, h4 {
//   margin: 0;
//   color: #000;
// }