.h {
  &--36 {
    @include font-styling(36px, 48px, bold);
  }

  &--28 {
    @include font-styling(28px, 40px, bold);
  }

  &--24 {
    @include font-styling(24px, 36px, bold);
  }

  &--20 {
    @include font-styling(20px, 32px, bold);
  }

  &--18 {
    @include font-styling(18px, 28px, bold);
  }

  &--16 {
    @include font-styling(16px, 24px, bold);
  }

  &--14 {
    @include font-styling(14px, 28px, bold);
  }
}

.m-h {
  @include breakpoint(max-md) {
    &--36 {
      @include font-styling(36px, 48px, bold);
    }

    &--28 {
      @include font-styling(28px, 40px, bold);
    }

    &--24 {
      @include font-styling(24px, 36px, bold);
    }

    &--20 {
      @include font-styling(20px, 32px, bold);
    }

    &--18 {
      @include font-styling(18px, 28px, bold);
    }

    &--16 {
      @include font-styling(16px, 24px, bold);
    }

    &--14 {
      @include font-styling(14px, 28px, bold);
    }
  }
}

.centered-heading {
  display: inline-flex;
  align-items: center;
  svg {
    margin: 0 16px 0 0;
  }
}