.container-full {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

body {
  &.modal-open {
    overflow: hidden;
  }
}

.container {
  &---md {
    padding: 0 20px;
    @include breakpoint(md) {
      max-width: 744px;
      margin: auto;
      padding: 0;
    }
  }
  &---sm {
    padding: 0 20px;
    @include breakpoint(md) {
      max-width: 552px;
      margin: auto;
      padding: 0;
    }
  }
  &---s {
    padding: 0 20px;
    @include breakpoint(md) {
      max-width: 360px;
      margin: auto;
      padding: 0;
    }
  }
}