@mixin breakpoint($media) {
  @if $media == sm {
    @media only screen and (min-width: 544px) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $media == max-md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: 992px) {
      @content;
    }
  } @else if $media == max-lg {
    @media only screen and (max-width: 992px) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $media == hd {
    /* (1600x900) HD+ Display */
    @media only screen and (min-width: 1600px) {
      /* insert styles here */
      @content;
    }
  }
}

@mixin font-styling( $fontSize: 14px, $lineHeight: 1.4, $weight: normal ) {
  font-size: $fontSize;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin reset-element-to-string() {
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  height: auto !important;

  pointer-events: auto;

  &:focus {
    box-shadow: none;
  }
}

// Colors

@mixin generate-color($color, $shade: null) {

  @if $shade {
    .ds-bg-color--#{$color}-#{$shade} {
      background: palette( $color, $shade );
    }
    .ds-color--#{$color}-#{$shade} {
      color: palette( $color, $shade );
    }
  } @else {
    .ds-bg-color--#{$color} {
      background: palette( $color, base );
    }
    .ds-color--#{$color} {
      color: palette( $color, base );
    }
  }

}


