<template>
  <div
    :class="{
      inline: inline,
      block: !inline,
      'inline-for-phone': inlineForPhone,
      'short-padding': shortPadding,
    }"
  >
    <a
      v-if="url"
      :href="url"
      :rel="isNofollow"
      :class="['btn', size, isDisabledClass, state]"
      :style="computedMaxWidth"
    >
      <monio-loader v-if="loader" :size="size"></monio-loader>
      <slot v-else></slot>
    </a>

    <router-link
      v-else-if="to"
      :to="to"
      :rel="isNofollow"
      :class="['btn', size, isDisabledClass, state]"
      :style="computedMaxWidth"
    >
      <monio-loader v-if="loader" :size="size"></monio-loader>
      <slot v-else></slot>
    </router-link>

    <button
      v-else
      :type="type"
      :href="href"
      :disabled="isDisabledAttr"
      :class="['btn', size, isDisabledClass, state]"
      :style="[computedMaxWidth]"
      @click="onEvent"
      @submit="onEvent"
    >
      <monio-loader v-if="loader" :size="size"></monio-loader>
      <slot v-else></slot>
    </button>
  </div>
</template>

<script>
export const SIZE = {
  xl: 'xl',
  s: 's',
}

export const STATE = {
  primary: 'primary',
  secondary: 'secondary',
  link: 'link',
  outline: 'outline',
}

export const TYPE = {
  button: 'button',
  submit: 'submit',
}

export default {
  name: 'MonioButton',

  props: {
    /**
     * Define button size.
     */
    size: {
      type: String,
      default: SIZE.xl,
      validator: (value) => SIZE[value] !== undefined,
    },

    /**
     * Define button state.
     */
    state: {
      type: String,
      default: STATE.primary,
      validator: (value) => STATE[value] !== undefined,
    },

    /**
     * Define button type.
     */
    type: {
      type: String,
      default: TYPE.button,
      validator: (value) => TYPE[value] !== undefined,
    },

    /**
     * Define button max-width if needed.
     */
    maxWidth: {
      type: String,
      default: null,
    },

    /**
     * Define disabled state for button.
     */
    disabled: {
      type: Boolean,
      default: false,
    },

    /**
     * Define transparent state for button.
     */
    transparent: {
      type: Boolean,
      default: false,
    },

    /**
     * Define if button has loading state.
     */
    loader: {
      type: [String, Boolean],
      default: false,
    },

    /**
     * Define URL for button, else button with method will be available.
     */
    url: {
      type: String,
      default: null,
    },

    /**
     * Define Vue Route to page. Pass route name.
     */
    to: {
      type: [String, Object, Array],
      default: null,
    },

    /**
     * Define rel="nofollow".
     */
    nofollow: {
      type: Boolean,
    },

    /**
     * Make full width if false and auto width if true.
     */
    inline: {
      type: Boolean,
      default: false,
    },

    /**
     * Define href attribute for button.
     */
    href: {
      type: String,
      default: null,
    },

    /**
     * Make full width if true for mobile.
     */
    inlineForPhone: {
      type: Boolean,
      default: false,
    },

    /**
     * Make full width if true for mobile.
     */
    shortPadding: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    hasSlot() {
      return !!this.$slots.default
    },

    isDisabledClass() {
      return this.disabled ? 'disabled' : ''
    },

    isDisabledAttr() {
      return this.disabled ? 'disabled' : null
    },

    computedMaxWidth() {
      return this.maxWidth ? `max-width: ${this.maxWidth}px` : null
    },

    isNofollow() {
      return this.nofollow ? 'nofollow' : ''
    },

    onEvent() {
      if (this.type === TYPE.submit) return this.onSubmit
      return this.onClick
    },
  },

  methods: {
    /**
     * @param {Event} e
     */
    onClick(e) {
      this.$emit('on-click', e.target)
    },
    /**
     * @param {Event} e
     */
    onSubmit(e) {
      this.$emit('on-submit', e.target)
    },
  },
}
</script>

<style lang="scss" scoped>
@use '../../scss' as *;

// primary button
$primary-color: #fedd40;
$primary-hover-color: #edc22d;
$primary-text-color: #000000;

// secondary button
$secondary-color: #00c8b8;
$secondary-hover-color: #00aa9c;
$secondary-text-color: #fff;

// link button
$link-color: transparent;
$link-hover-color: #e5f9f8;
$link-text-color: #00a093;

$text-color: #000000;

$default-button-color: #02a8bf;
$transparent-button-color: #02a8bf;

.inline {
  display: flex;

  @include breakpoint(lg) {
    display: inline-flex;
  }

  &.inline-for-phone {
    @include breakpoint(max-lg) {
      display: inline-flex;
    }
  }
}

.block {
  display: flex;

  &.inline-for-phone {
    @include breakpoint(max-lg) {
      display: inline-flex;
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  font-family: 'Comfortaa', sans-serif;

  @include font-styling(18px, 20px, bold);
  transition: all 150ms;

  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  color: $text-color;
  background: $primary-color;
  border: 1px solid transparent;
  box-shadow: none;
  border-radius: 100px;
  width: 100%;
  padding: 0 20px;

  &.short-padding {
    padding: 0 12px;
  }

  &.primary {
    color: $primary-text-color;
    background: $primary-color;

    &:hover,
    &.nuxt-link-exact-active {
      color: $primary-text-color;
      background: $primary-hover-color;
    }

    &.disabled {
      pointer-events: none;
      background: rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 0.3);

      .icon svg {
        fill: rgba(0, 0, 0, 0.3);
      }
    }

    svg {
      fill: $primary-text-color;
    }

    .icon svg {
      fill: $primary-text-color;
    }
  }

  &.secondary {
    color: $secondary-text-color;
    background: $secondary-color;

    &:hover,
    &.nuxt-link-exact-active {
      color: $secondary-text-color;
      background: $secondary-hover-color;
    }

    &.disabled {
      pointer-events: none;
      background: rgba(0, 0, 0, 0.15);
      color: rgba(0, 0, 0, 0.3);

      .icon svg {
        fill: rgba(0, 0, 0, 0.3);
      }
    }

    svg {
      fill: $secondary-text-color;
    }

    .icon svg {
      fill: $secondary-text-color;
    }
  }

  &.link {
    color: $link-text-color;
    background: $link-color;

    &:hover,
    &.nuxt-link-exact-active {
      color: #00a093;
      background: $link-hover-color;
    }

    &.disabled {
      pointer-events: none;
      background: transparent;
      color: rgba(0, 0, 0, 0.3);

      .icon svg {
        fill: rgba(0, 0, 0, 0.3);
      }
    }

    svg {
      fill: $secondary-color;
    }

    .icon svg {
      fill: $secondary-color;
    }
  }

  &.outline {
    color: #00a093;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:hover,
    &.nuxt-link-exact-active {
      color: #00a093;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3);
    }

    &.disabled {
      pointer-events: none;
      background: transparent;
      color: rgba(0, 0, 0, 0.3);

      .icon svg {
        fill: rgba(0, 0, 0, 0.3);
      }
    }

    svg {
      fill: #00a093;
    }

    .icon svg {
      fill: #00a093;
    }
  }

  &:focus {
    outline: 0;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
  }

  &.xl {
    @include font-styling(18px, normal, bold);
    height: 52px;

    .icon svg {
      width: 24px;
      height: 24px;
    }
  }

  &.s {
    @include font-styling(14px, normal, bold);
    height: 40px;

    .icon svg {
      width: 16px;
      height: 16px;
    }
  }
}
</style>
