// Importing base base stuff:
//@import 'grid/bootstrap-grid';

@import 'base/functions';

@import 'base/colors';

// IMPORTING OUR OWN STYLES

@import 'base/index';

@import 'helpers/index';

.container {
  @include breakpoint(max-md) {
    padding: 0 20px;
  }

  &.desktop {
    @include breakpoint(max-md) {
      padding: 0;
    }
  }
}
